footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.copy {
  font-family: Alatsi;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.72px;
  letter-spacing: 0.1em;
  text-align: center;
  text-wrap: nowrap;
}
