.wrapper {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.languageBox {
  display: flex;
  align-items: center;
  justify-content: right;
  align-items: flex-end;
  gap: 13px;
  width: auto;

  p {
    font-family: "JockeyOne";
    font-size: 16px;
  }

  img {
    align-self: center;
    width: 24px;
    height: 13px;
  }
}

.authWrapper {
  width: 100%;
  display: flex;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 262px;
    height: 62px;
    border: 5px solid white;
    background: none;
    color: white;
    font-family: "Aladin";
    letter-spacing: 2px;
  }
}

.logo {
  font-family: "Aladin";
  font-size: 65px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 30% 0 20%;
  color: #873a3a;
}

.copy {
  align-self: center;
  position: absolute;
  bottom: 1rem;
  font-family: Alatsi;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.72px;
  letter-spacing: 0.1em;
  text-align: center;
}
