.tableContainer {
  height: 400px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid black;
}

.emptyCell {
  border: none !important;
  border-left: 1px solid black !important;
}
