@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.mainWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Aladin';
  src: url(./assets/fonts/Aladin-Regular.ttf) ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alatsi';
  src: url(./assets/fonts/Alatsi-Regular.ttf) ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JockeyOne';
  src: url(./assets/fonts/JockeyOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BIZ UDPMincho';
  src: url(./assets/fonts/BIZUDPMincho-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url(./assets/fonts/Alegreya-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url(./assets/fonts/Bitter-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alumni Sans Collegiate One';
  src: url(./assets/fonts/AlumniSansCollegiateOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}