@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

@font-face {
  font-family: 'Aladin', sans-serif;
  src: url('./assets/fonts/Aladin-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JockeyOne', sans-serif;
  src: url('./assets/fonts/JockeyOne-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}