.tableContainer {
  height: 100vh;
  min-width: 100%;
  overflow-y: auto;
}

.table {
  margin: 0 auto;
  width: 50%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.cell {
  padding: 8px;
  width: 250px;
  text-align: center;
  vertical-align: middle;
}

.emptyCell {
  border: none !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  padding: 8px;
  width: 250px;
  text-align: center;
  vertical-align: middle;
}

.valueWrapper {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 7px;
}
